
.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2.chat-main__group-info__current-group
        =@group.name
      %ul.chat-main__member-list
        Member :
        %li.chat-main__member-name
          -@group.users.each do |user|
            =user.name
    = link_to edit_group_path(@group.id), class: "edit-btn" do
      Edit

  .chat-main__message-list
    = render @messages


  .chat-main__message-form
    =form_for [@group, @message] do |f|
      .chat-main__message-form__new_message
        =f.text_field :content, class: 'input-text', placeholder: 'type a message'
        .input-box-image
          =f.label :image, class: 'input-box-image' do
            = icon('fas', 'image')
            =f.file_field :image, class: 'file-btn'
      = f.submit 'Send', class: 'submit-btn'
    
    
  
